CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/

_deps/

build-linux/
build-windows/
build/

# screw you microsoft
.vscode/

Makefile
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb

*.log
*.tmp